.go-back-btn {
  @include fontSizeAndColor(14px, black);
  margin: 2rem 0.5rem;
  cursor: pointer;
  padding-bottom: 0.25rem;
  width: 55px;
  text-align: center;
  border-bottom: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid black;
    transition: 1s ease;
  }
}
