.headerText {
  @include border-bottom;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.login_header {
  @include fontSizeAndColor(28px, $orange);
  @include outfit-Reg;
  text-align: center;
  text-transform: uppercase;
  margin: 2rem;
}
