.cart {
  &__name {
    @include fontSizeAndColor(17px, $black);
    @include bold-font;
  }

  &__price {
    @include fontSizeAndColor(12px, $black);
    @include outfit-light;
  }

  &__total {
    @include fontSizeAndColor(15px, $black);
    @include outfit-light;
    text-transform: uppercase;
  }

  &__totalPrice {
    @include fontSizeAndColor(15px, $black);
    @include bold-font;
  }

  &__header-modal {
    @include fontSizeAndColor(17px, $black);
    @include bold-font;
  }
}

.continue-shopping {
  @include flex(center, center, row);
  @include fontSizeAndColor(12px, $black);
  @include outfit-light;
  margin: 1rem 0 0 0;

  &--text {
    cursor: pointer;
    border-bottom: 1px solid transparent;
    &:hover {
      border-bottom: 1px solid $orange;
      transition: 1s ease-in-out;
    }
  }
}
