.checkout {
  margin: 0.75rem;

  &__header {
    @include fontSizeAndColor(12px, $orange);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 1rem 0;

    &--summary {
      @include fontSizeAndColor(18px, $orange);
      text-align: center;
    }
  }
  &__col {
    margin-top: 1rem;
    background-color: $white-ish;
    padding: 1rem;
    margin: 1rem;
    &-2 {
      height: 100%;
    }
  }

  &__price {
    @include fontSizeAndColor(13px, $black);
    @include outfit-light;
    text-transform: uppercase;
  }

  &__amount {
    @include fontSizeAndColor(14px, $black);
    @include bold-font;

    &--orange {
      @include fontSizeAndColor(15px, $orange);
    }
  }

  &__rowItem {
    align-items: center;
  }

  &__btn-row {
    @include flex(center, center, row);
    max-width: 100%;
  }

  &__input {
    background-color: $white;
    border-radius: 7px !important;
    @include fontSizeAndColor(15px, $black);
    @include outfit-light;
    cursor: pointer;
  }

  &__label {
    @include fontSizeAndColor(17px, $black);
    @include outfit-light;
  }
}

.text-danger {
  @include fontSizeAndColor(12px, $red);
  @include outfit-light;
}
