.profile-row {
  @include flex(center, center, row);
  --bs-gutter-x: 0 !important;
  &__col {
    margin: 1rem 1.5rem;
    @include border-bottom;
    text-align: center;
    --bs-gutter-x: 0 !important;
  }

  &__row {
    margin-bottom: 1rem;
    --bs-gutter-x: 0 !important;
  }

  &-bottom {
    @include flex(flex-start, center, row);

    &__col {
      margin: 0.5rem 1.5rem;
      &-right {
        margin-right: 0;
      }
    }

    &__row {
      @include flex(center, center, row);
      margin-bottom: 1rem;
      --bs-gutter-x: 0 !important;
    }
  }
}

.account-row {
  @include flex(flex-start, center, row);
  --bs-gutter-x: 0 !important;
  &-col {
    margin: 0.5rem 2.5rem;
  }

  &__col {
    @include border-bottom;
    margin: 1rem 1.5rem;
    text-align: center;
  }
  &__items {
    margin: 0.5rem 0;
    --bs-gutter-x: 0 !important;
  }
}
