.scent {
  margin: 0 1rem;
  &__img {
    width: 100%;
    border: 1px solid red;
  }

  &__featured {
    @include fontSizeAndColor(11px, $orange);
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__name {
    @include fontSizeAndColor(30px, $navy-blue);
    @include bold-font;
  }

  &__desc {
    width: 100%;
    @include fontSizeAndColor(16px, $navy-blue);
    margin: 1rem 0;

    @include tablet {
      width: 80%;
    }
    @include desktop {
      width: 70%;
    }
  }

  &__price {
    @include bold-font;
  }

  &__quantity-left {
    @include fontSizeAndColor(15px, $red);
    @include outfit-light;
  }
  &__counter {
    width: 75%;
    margin: 1rem 1rem 1rem 1rem;
    @include flex(center, space-between, row);

    @include tablet {
      width: 65%;
    }
    @include desktop {
      width: 30%;
    }
  }

  &__bottom {
    width: 50%;
    margin: 3rem;
    @include flex(center, space-between, row);
  }

  &__date {
    @include fontSizeAndColor(12px, $navy-blue);
  }

  &__comment {
    @include fontSizeAndColor(14px, $navy-blue);
  }

  &__reviewName {
    @include bold-font;
    @include fontSizeAndColor(16px, $navy-blue);
  }

  &__btn {
    background-color: $grey !important;
    border: 1px solid $grey !important;
    color: $navy-blue !important;
  }
  &__counter {
    background-color: $grey !important;
  }

  &-img__container {
    border-radius: 10px;
    height: 360px;
    width: 100%;
    background-color: #f1f1f1;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__textarea {
    @include fontSizeAndColor(12px, $navy-blue);
    @include outfit-light;

    @include desktop {
      @include fontSizeAndColor(16px, $navy-blue);
    }
  }
}
