@font-face {
  font-family: 'Manrope-light';
  src: url(../../assets/fonts/Manrope/static/Manrope-Light.ttf);
}
@font-face {
  font-family: 'Manrope-extralight';
  src: url(../../assets/fonts/Manrope/static/Manrope-ExtraLight.ttf);
}

@font-face {
  font-family: 'Manrope-normal';
  src: url(../../assets/fonts/Manrope/static/Manrope-Regular.ttf);
}

@font-face {
  font-family: 'Manrope-bold';
  src: url(../../assets/fonts/Manrope/static/Manrope-SemiBold.ttf);
}
@font-face {
  font-family: 'Manrope-thin';
  src: url(../../assets/fonts/Manrope/static/Manrope-ExtraLight.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(../../assets/fonts/Quicksand/static/Quicksand-Bold.ttf);
}

@font-face {
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf);
  font-family: 'TitilliumWeb';
}
@font-face {
  src: url(../../assets/fonts/Raleway/static/Raleway-Light.ttf);
  font-family: 'Raleway-Light';
}
@font-face {
  src: url(../../assets/fonts/Raleway/static/Raleway-Medium.ttf);
  font-family: 'Raleway-Medium';
}
@font-face {
  src: url(../../assets/fonts/Italiana/Italiana-Regular.ttf);
  font-family: 'Italiana';
}
@font-face {
  src: url(../../assets/fonts/Antic_Didone/AnticDidone-Regular.ttf);
  font-family: 'AnticDidone';
}
@font-face {
  src: url(../../assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf);
  font-family: 'Carmorant';
}
