$navy-blue: #0f1f1f;
$dark-grey: #ceccbf;
$grey: #f6f6f6e3;
$gold: #e7a43e;
$orange: #e95900;
$red: #e02e2edb;
// $white: #fcf9ee;
$black: #101010;
$off-white: #d6d3cb;
$off-black: rgba(0, 0, 0, 0.7);
$white: rgba(255, 251, 251, 0.809);
$white-ish: #f6f6f6f8;
$white: white;
