$navy-blue: #112f59;
$dark-grey: #ceccbf;
$grey: #f6f6f6e3;
$gold: #d9ac68;
$yellow: #e9b500;
$red: #e02e2edb;
$white: white;
$black: #101010;
$off-white: rgba(255, 255, 255, 0.427);
$off-black: rgba(0, 0, 0, 0.7);
