.hero {
  background-color: $white;
  color: $black;
  text-align: center;
  height: 50vh;
  display: flex;
  align-items: stretch;

  @include tablet {
    height: 35vh;
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero__header {
  @include antic;
  @include fontSizeAndColor(25px, $black);
  text-transform: capitalize;
  margin-bottom: 1rem;
  margin-left: 1rem;

  @include tablet {
    @include fontSizeAndColor($large-heading, $black);
  }

  &-paragraph {
    @include fontSizeAndColor(14px, $black);
    text-transform: none;
    @include antic;
    margin-bottom: 1rem;
    margin-top: 1rem;

    @include tablet {
      @include fontSizeAndColor($small-heading, $black);
    }
  }
}

.hero__buttons {
  @include flex(center, space-between, row);
  width: 100%;
}

.hero__image {
  background-image: url('../../assets/images/heroImage.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex: 1;
}

.hero__header-paragraph span {
  color: $red;
}

// .hero__header-paragraph span::before {
//   content: '';
//   position: absolute;
//   top: 50%;
//   left: 0;
//   right: 0;
//   height: 1px;
//   background-color: red;
//   z-index: 1;
// }
