.works-row {
  @include flex(center, center, column);
  margin: 0 0.5rem;
  @include desktop {
    @include flex(center, center, row);
    margin: 0 3rem;
  }

  text-align: center;
}

.step-col {
  position: relative;
  @include flex(center, center, column);

  &__header {
    margin: 0.75rem 0;
    @include antic;
    text-transform: capitalize;
    @include fontSizeAndColor(20px, $black);
  }

  &__p {
    @include fontSizeAndColor(16px, $black);
    @include outfit-light;
    margin-bottom: 2rem;
    width: 100%;
    @include desktop {
      width: 85%;
      height: 10vh;
    }
  }
}

.step-number {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  font-size: 15px;
  border-radius: 100%;
  background-color: $navy-blue;
  padding: 1.5rem;
  color: $white;
  @include flex(center, center, row);
  z-index: 1;
  @include antic;
}

.step__img {
  width: 350px;
  height: 284px;
}
