.navbar-container {
  position: relative;
}
.custom-navbar {
  color: $black;
  padding: 1rem;
}
.navbar-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: $dark-grey;
  width: 100%;
}
.navbar-underline-container {
  @include flex(center, center, row);
}

.responsive-navbar {
  &__links {
    @include fontSizeAndColor($tiny-heading, $black);
    @include thin-font;
    padding: 1rem 0;
  }
}

.navbar-logo {
  @include logo-font;
  @include fontSizeAndColor($large-heading, $black);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 100;
  margin-right: 0;
}
.navbar-row {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbar-item-container {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/icons/shopping-bag.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.nav-number {
  margin: 0;
  line-height: 0;
  @include fontSizeAndColor(9px, $gold);
  margin-top: 0.2rem;
}

.nav-dropdown-name {
  @include fontSizeAndColor(13px, $gold);
  @include tablet {
    @include fontSizeAndColor(16px, $gold);
  }

  @include outfit-light;

  &__item {
    @include fontSizeAndColor(13px, $gold);
    @include tablet {
      @include fontSizeAndColor(16px, $gold);
    }
    @include outfit-light;
  }
}
.nav-dropdown-admin {
  margin-left: 1rem;
}
