.navbar-container {
  position: relative;
}
.custom-navbar {
  background-color: $white;
  color: $black;
  padding: 1rem;
}
.navbar-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background-color: $dark-grey;
  margin: 0 1.5rem;
}

.responsive-navbar {
  &__links {
    @include fontSizeAndColor($tiny-heading, $black);
    @include thin-font;
    padding: 1rem 0;
  }
}

.navbar-logo {
  @include logo-font;
  @include fontSizeAndColor($large-heading, $black);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 100;
  margin-right: auto;
}
.navbar-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-badge {
  position: absolute;
  bottom: -5px;
  right: -5px;
}
