@mixin fontSizeAndColor($font-size, $color) {
  font-size: $font-size;
  color: $color;
}

@mixin flex($align-items, $justify-content, $flex-direction) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin header-text {
  @include antic;
  font-size: $large-heading;
  color: $black;
  margin: 1rem;
  margin-top: 1.5rem;
  text-align: center;
}

@mixin border-bottom {
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 1rem;
}
