@mixin light-font {
  font-family: 'Raleway-Light';
}
@mixin bold-font {
  font-family: 'Raleway-Bold';
}

@mixin normal-font {
  font-family: 'Quicksand';
}

@mixin bold-font {
  font-family: 'Manrope-bold';
}

@mixin thin-font {
  font-family: 'Manrope-thin';
}
@mixin italiana {
  font-family: 'Italiana';
}
@mixin antic {
  font-family: 'AnticDidone';
}

@mixin logo-font {
  font-family: 'Carmorant';
}

@mixin alternate-font {
  font-family: 'TitilliumWeb';
}

@mixin outfit-light {
  font-family: 'Outfit-Thin';
}
@mixin outfit-Reg {
  font-family: 'Outfit-Light';
}
