@mixin light-font {
  font-family: 'Raleway-Light';
}

@mixin normal-font {
  font-family: 'Quicksand';
}

@mixin bold-font {
  font-family: 'Manrope-bold';
}

@mixin thin-font {
  font-family: 'Manrope-thin';
}
@mixin italiana {
  font-family: 'Italiana';
}
@mixin antic {
  font-family: 'AnticDidone';
}

@mixin logo-font {
  // font-family: 'Quicksand';
  font-family: 'Italiana';
  // font-family: 'AnticDidone';
  letter-spacing: -1px;
  font-family: 'Carmorant';
}

@mixin alternate-font {
  font-family: 'TitilliumWeb';
}
