.app-container {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  font-size: $small-heading;
  @include thin-font;
  background-color: $white;

  table img {
    width: 20px;
  }
}

html {
  background-color: $white;
}
