.app-container {
  overflow-x: hidden !important;
  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  font-size: $small-heading;
  @include thin-font;

  @include desktop {
    // margin: 0 3rem;
  }

  table img {
    width: 20px;
  }
}

body {
  background-color: $white;
  overflow-x: hidden !important;
}

.container {
  --bs-gutter-x: 0rem;
}
